<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.razanpardazesh.onlinestore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_product"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.razanpardazesh.onlinestore.VitrinActivity" />
        </activity>
        <activity
            android:name=".VitrinActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_vitrin"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SelectShipmentType"
            android:label="@string/title_activity_select_shipment_type"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.razanpardazesh.onlinestore.VitrinActivity" />
        </activity>
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>

        <activity
            android:name=".ProductsGroupsActivity"
            android:label="@string/title_activity_products_groups"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OnlineStoreWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme"/>
    </application>

</manifest>